// Colors
// =========================================================
$main-color:#2980b9;
$secondary-color: #2c3e50;
$italic-color: #8b8989;
$white-color: #fff;
$black-color: #000;


// Fonts
// ========================================================
$google-font: 700;
$heading-font: 40px;
$h3-font: 23px;
$icon-font: 40px;
$chevron-font: 60px;